.p-icon-field.p-icon-field-left {
    Margin-right: 18px;
}

.p-icon-field-left>.p-inputtext {

    padding-left: 2rem !important;

    padding-right: 0px !important;

}

/* Keep single-selection radio controls perfectly circular in DataTable cells. */
.p-datatable .p-radiobutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
}

.p-datatable .p-radiobutton .p-radiobutton-box {
    width: 1.25rem !important;
    height: 1.25rem !important;
    min-width: 1.25rem !important;
    min-height: 1.25rem !important;
    max-width: 1.25rem !important;
    max-height: 1.25rem !important;
    aspect-ratio: 1 / 1;
    border-radius: 9999px !important;
    box-sizing: border-box;
}

.p-datatable .p-radiobutton .p-radiobutton-icon {
    width: 0.5rem !important;
    height: 0.5rem !important;
    min-width: 0.5rem !important;
    min-height: 0.5rem !important;
    max-width: 0.5rem !important;
    max-height: 0.5rem !important;
    aspect-ratio: 1 / 1;
    border-radius: 9999px !important;
    box-sizing: border-box;
}
